/*
  Este es un fihero secret.h de ejemplo

  Para que el proyecto se pueda compilar se debe crear un fichero secret.h
  y configurar los valores correctos. Es posible que tambien se necesite un
  fichero .cpp para definir las claves como arrays

  Los ficheros secret.h, secret.cpp y secret.c, se han añadido explicitamente
  al fichero .gitignore para impedir que se suban claves a git por accidente
*/
#include <Arduino.h>

#ifndef _SECRET_H_
#define _SECRET_H_

// Nombre y contraseña de la WiFi
#define STASSID "SSID"
#define STAPSK "Password"

// IP que se utiliza para comprbar que hay conexión. La IP de tu router por ejemplo
#define WIFI_CHECK_ADDRESS "192.168.1.1"
#define WIFI_CHECK_PORT 80

// Datos del servidor MQTT
#define MQTT_SERVER "mqtt.example.com"
#define MQTT_USER "User"
#define MQTT_PASSWORD "Password"
#define MQTT_PORT 1883
#define MQTT_TOPIC "Topic"

// Claves
extern const byte KEYBOARD_AES_KEY[32];
extern const byte KEYBOARD_HMAC_KEY[32];

// Deben de definirse en un fichero .cpp. Por ejemplo
/*
  const byte KEYBOARD_AES_KEY[32] PROGMEM = {
    0xDA, 0x3F, 0x12, 0x3E,
    ... hasta 32 bytes
  };
*/

#endif
